<h2>Editing article</h2>

<%=render 'form'%>


<%# The below ruby code creates a hyperlink that has display value New article abnd redirects to /articles/new which is stored in new_article_path by rails by default %>
<p>
<%= link_to "Back", articles_path %>
</p>
<%# <% end %>