<p><h2>Index for articles</h2></p>
<%# This renders the page numbers, prev, and next button  %>



<%= render 'article' %>

<div class="apple_pagination">
    <%= will_paginate @article, :container => false %>
</div>
<%# <%= will_paginate @article  %> 
<table>
<tr> 
            <%# <td colspan=4 align=center> Create a new listing </td> %>

            <%# The below ruby code creates a hyperlink that has display value New article abnd redirects to /articles/new which is stored in new_article_path by rails by default %>
            <td align=center colspan=4>
            <%= link_to "Create a new article", new_article_path %>
            </td>
        </tr>
</table>