<%# To imbed ruby code in here we need to use embedded ruby tags like this one used to comment %>

<p><h2>This is the show tempelate invoked by show method in ArtistsController class </h2></p>

<p> <strong>
ID: <%= @article.id  %>
</strong> </p> 

<p> <strong>
Title: <%= @article.title  %>
</strong> </p> 

<p> <strong>
Description: <%= @article.description  %>
</strong> </p> 