<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<% if logged_in?  %>
  <div>
    <%= link_to "Back to users", users_path %>
  </div>
<%else  %>
  <div>
    <%= link_to "Articles", articles_path %>
  </div>
<%end  %>